body{
    font-family: 'IBM Plex Serif';
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: red;
    font-size: 30px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 70%;
}