body{
    margin-top: 5px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-size: 200px;

}
.first-colam{
    margin: 5px;
    color: red;
    text-align: left;
}